@import '@fontsource-variable/noto-sans-jp';
@import '@fontsource-variable/noto-sans-tc';
@import '@fontsource-variable/noto-sans-sc';

@import "tailwindcss";


@font-face {
  font-family: 'ibm';
  src: url("/fonts/IBMPlexMono.woff2") format("woff2");
}

@font-face {
  font-family: 'whyte';
  src: url("/fonts/ABCWhytePlus.ttf") format("ttf");
}

@font-face {
  font-family: 'hexaframe';
  src: url("/fonts/HexaframeCF-Bold.woff2") format("woff2");
}



body {
  width: 100dvw;
  overflow-x: hidden;
  font-family: 'whyte';
}

:root {
  --color-purple-50: #968adf;
  --color-purple-100: #8d82d2;
  --color-gray-50: #f0f0f0;
  --color-gray-500: #363636;
}

@layer utilities {
  .bg-purple-50 {
    background-color: var(--color-purple-50);
  }
  .bg-purple-100 {
    background-color: var(--color-purple-100);
  }
  .bg-gray-50 {
    background-color: var(--color-gray-50);
  }
  .bg-gray-500 {
    background-color: var(--color-gray-500);
  }
  .text-gray-500 {
    color: var(--color-gray-500);
  }
  .font-ibm {
    font-family: 'ibm', sans-serif;
  }
  .font-whyte {
    font-family: 'whyte', sans-serif;
  }
  .font-hexaframe {
    font-family: 'hexaframe', sans-serif;
  }
}